<style>	

	a:link {
		color: black;
		text-decoration: none;
	}
	
	a:hover {
		color: black;
		font-weight: bold;
		text-decoration: none;
	}
	
	.black-line{
		border-bottom: 2px solid black;
	}	
	.green-line{
		border-bottom: 2px solid green;
	}
		
	.gray-line{
		border-bottom: 2px solid #F8F9FA;
	}	
	
	.page-link:hover {		
		border-radius: 10px;
		border: 1px solid black;
		background-color: white;
		color: black; 
	}

	.ball{
		border: 1px solid gray;
		border-radius: 35px;
		height: 70px;
		width: 70px;
		text-align: center;
	}

	.text-center{
		text-align: center;
	}		    

    .content{
        border: 1px solid #555555;
        border-radius: 5px;
    }
    
    .comNav {
    	position: fixed;
    }
    
    .comNav .nav-item {
    	width: 90px;
    	height: 35px;
    	border: 1px solid #bbbbbb;
    	border-radius: 3px;
    	background-color: white;
    	margin-bottom: 8px;
    }
    
    .comNav .nav-item a, .comNav .nav-item a:hover .comNav .nav-item a:visited{
    	text-decoration: none;
    	color: black;
    	font-size: 0.8em;
    }            
    
    .textarea {
	    min-height: 5rem;
	    overflow-y: hidden;
	    resize: none;
	}
    
    
    <!-- pagination -->
	/* GRID */
	
	.twelve { width: 100%; }

	
	/* CLEARFIX */
	
	.cf:before,
	.cf:after {
	    content: " ";
	    display: table;
	}
	
	.cf:after {
	    clear: both;
	}
	
	.cf {
	    *zoom: 1;
	}	
	
	/* GENERAL STYLES */
	
	.pagination{
	  padding: 30px 0;
	}
	
	.pagination ul{
	  margin: 0;
	  padding: 0;
	  list-style-type: none;
	}
	
	.pagination a{
	  display: inline-block;
	  padding: 10px 18px;
	  color: #222;
	  .pagination a;
	  text-decoration: none;
	}
	
	.pagination a:hover{
	  text-decoration: none;
	}
		
	
	/* TWELVE */
	
	.p12 .is-active{
	  background-color: #2ecc71;
	  color: #fff;
	  font-weight: bold;
	  border-radius: 10px;
	}       
	
	a.disabled{
		pointer-events: none; /*이벤트를 막음*/
		cursor: default; /*마우스 커서를 포인트에서 디폴트로 변경*/
	}    
        

</style>