<style>	
	.black-line{
		border-bottom: 2px solid black;
	}	
	.green-line{
		border-bottom: 2px solid green;
	}	
	
	.page-link:hover {		
		border-radius: 10px;
		border: 1px solid black;
		background-color: white;
		color: black; 
	}

	.ball{
		border: 1px solid gray;
		border-radius: 35px;
		height: 70px;
		width: 70px;
		text-align: center;
	}

	.text-center{
		text-align: center;
	}		    

    .content{
        border: 1px solid #555555;
        border-radius: 5px;
    }
    
    
    
    
    
    
    
    
    <!-- pagination -->
    html, body{
	  width: 100%;
	  height: 100%;
	  margin: 0;
	  padding: 0;
	  font-family: 'Open Sans', sans-serif;
	  color: #222;
	}

	a{
	  text-decoration: none;
	}

	p, li, a{
	  font-size: 14px;
	}

	/* GRID */
	
	.twelve { width: 100%; }
	.eleven { width: 91.53%; }
	.ten { width: 83.06%; }
	.nine { width: 74.6%; }
	.eight { width: 66.13%; }
	.seven { width: 57.66%; }
	.six { width: 49.2%; }
	.five { width: 40.73%; }
	.four { width: 32.26%; }
	.three { width: 23.8%; }
	.two { width: 15.33%; }
	.one { width: 6.866%; }
	
	/* COLUMNS */

	.col {
		display: block;
		float:left;
		margin: 1% 0 1% 1.6%;
	}
	
	.col:first-of-type {
	  margin-left: 0;
	}
	
	.container{
	  width: 100%;
	  max-width: 940px;
	  margin: 0 auto;
	  position: relative;
	  text-align: center;
	}
	
	/* CLEARFIX */
	
	.cf:before,
	.cf:after {
	    content: " ";
	    display: table;
	}
	
	.cf:after {
	    clear: both;
	}
	
	.cf {
	    *zoom: 1;
	}
	
	/* GENERAL STYLES */
	
	.pagination{
	  padding: 30px 0;
	}
	
	.pagination ul{
	  margin: 0;
	  padding: 0;
	  list-style-type: none;
	}
	
	.pagination a{
	  display: inline-block;
	  padding: 10px 18px;
	  color: #222;
	}
	
	
	/* TWELVE */
	
	.p12 .is-active{
	  background-color: #2ecc71;
	  color: #fff;
	  font-weight: bold;
	  border-radius: 10px;
	}           
        

</style>