<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
  
	<typeAliases>
		<typeAlias alias="userVO" type="com.spring.learn.user.UserVO"/>
		<typeAlias alias="board" type="com.spring.learn.board.BoardVO"/>

		<typeAlias alias="resume" type="com.spring.learn.resume.ResumeVO"/>

		<typeAlias alias="memberBoard" type="com.spring.learn.memberboard.MemberBoardVO"/>
		<typeAlias alias="CallcenterComment" type="com.spring.learn.memberboard.CallcenterCommentVO"/>	
		
		
		
			
		<typeAlias alias="OrdersDetail" type="com.spring.learn.memberboard.OrdersDetailVO"/>	
		
			
	
		<!-- 현지 추가 -->
		<typeAlias alias="noticeVO" type="com.spring.learn.board.NoticeVO"/>
		<typeAlias alias="faqVO" type="com.spring.learn.board.FaqVO"/>
		<!-- ========================== -->
	
		<typeAlias alias="roadmap" type="com.spring.learn.roadmap.RoadmapVO"/>
		<typeAlias alias="lecture" type="com.spring.learn.lecture.LectureVO"/>
		<typeAlias alias="class" type="com.spring.learn.lecture.ClassVO"/>
		<typeAlias alias="offtimetable" type="com.spring.learn.lecture.OfftimetableVO"/>
		
	
	</typeAliases>
			
	
</configuration>