<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userDAO">

	<select id="getUser" parameterType="userVO"
		resultType="userVO">
		SELECT * FROM USERS WHERE USER_ID = #{userId} AND USER_PWD = #{userPwd}
	</select>
	
	<select id="getUserId" parameterType="userVO" resultType="int">
		SELECT count(*) FROM USERS WHERE USER_ID = #{userId}
	</select>
	
	<select id="insertUser" parameterType="userVO">
		INSERT INTO USERS VALUES(#{userId}, '일반회원', #{userName}, #{userBirth}, #{userPwd}, SYSDATE,0,'','')
	</select>
	
	<select id="modifyUser" parameterType="userVO" resultType="int">
		UPDATE USERS SET USER_PWD = #{userPwd}, USER_NAME = #{userName} WHERE USER_ID = #{userId}
	</select>
	
	<select id="findUserIdList" parameterType="com.spring.learn.user.UserVO"
		resultType="string">
		SELECT * FROM USERS
		WHERE USER_NAME = #{userName} AND USER_BIRTH = #{userBirth}
	</select>


<select id="findUserId" parameterType="com.spring.learn.user.UserVO"
	resultType="string">
	SELECT * FROM USERS
	WHERE USER_ID = #{userId}
</select>
</mapper>






