<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="faqDAO">

	<select id="getFaqList" parameterType="faqVO" resultType="faqVO">
		SELECT * FROM FAQ ORDER BY FAQ_NO
	</select>
	
</mapper>






