<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.learn.memberboard.impl.MemberBoardDAO">

	<insert id="insertBoard" parameterType="memberBoard">
		INSERT INTO CALL_CENTER
		 (QNA_NO,USER_ID,GRADE,QNA_TITLE,QNA_CONTENT,QNA_FILE)
		VALUES ((SELECT NVL(MAX(QNA_NO),0) + 1 FROM CALL_CENTER), #{userId},
		 #{grade}, #{qnaTitle}, #{qnaContent}, #{qnaFile})
	</insert>
		
	<update id="updateBoard" parameterType="memberBoard">
		UPDATE CALL_CENTER
		 SET QNA_TITLE = #{qnaTitle}, QNA_CONTENT = #{qnaContent}
		 , QNA_FILE = #{qnaFile},
		  QNA_ADOPT = #{qnaAdopt}
		 WHERE QNA_NO = #{qnaNo}
	</update>
	
	<delete id="deleteBoard" parameterType="board">
		DELETE FROM CALL_CENTER
		WHERE QNA_NO = #{qnaNo}	
	</delete>
	
	<select id="getBoard" parameterType="memberBoard" resultType="memberBoard">
			SELECT * FROM CALL_CENTER WHERE QNA_NO = #{qnaNo}		
	</select>
	
	<select id="getBoardList" parameterType="map" resultType="memberBoard">
		SELECT * FROM 
			(SELECT ROWNUM R_NUM, B.* from 
				(SELECT * FROM CALL_CENTER
					WHERE 1 = 1
					AND USER_ID = #{userId}
					<if test="searchKeyword != null">
					AND ( QNA_TITLE LIKE '%'|| #{searchKeyword} ||'%'
					OR QNA_CONTENT LIKE '%'|| #{searchKeyword} ||'%')		
					</if>		
					ORDER BY QNA_REGDATE DESC) B)
		WHERE R_NUM BETWEEN #{begin} AND #{end}
	</select>
	
	
	
	
	<select id="countBoard" parameterType="memberBoard" resultType="int">
		SELECT COUNT(QNA_NO) FROM CALL_CENTER
		<if test="searchKeyword != null">
		WHERE QNA_TITLE LIKE '%'|| #{searchKeyword} ||'%'
		OR QNA_CONTENT LIKE '%'|| #{searchKeyword} ||'%'		
		</if>		
	</select>
	
	

</mapper>






