<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resumeDAO">

	<insert id="insertResume" parameterType="resume">
		INSERT INTO RESUME (USER_ID, CATEGORY_NAME,
		 USER_NAME, USER_TEL, USER_INTRODUCE, USER_LINK, RESUME_STATUS)
		 VALUES(#{userId}, #{categoryName}, #{userName},
		  #{userTel}, #{userIntroduce}, #{userLink}, 'false')
	</insert>
	<select id="getResume" parameterType="resume" resultType="resume">
		SELECT USER_ID, CATEGORY_NAME,
		 USER_NAME, USER_TEL, USER_INTRODUCE, USER_LINK, RESUME_STATUS FROM RESUME
		 WHERE USER_ID = #{userId}
	</select>
	<update id="updateResume" parameterType="resume">
		UPDATE RESUME SET 
		USER_ID = #{userId},  CATEGORY_NAME=#{categoryName},
		USER_NAME= #{userName}, USER_TEL = #{userTel},
		USER_INTRODUCE = #{userIntroduce}, USER_LINK = #{userLink}
		WHERE USER_ID = #{userId}
	</update>
	<delete id="deleteResume" parameterType="resume">
		DELETE FROM RESUME WHERE USER_ID = #{userId}
		</delete>
</mapper>






